
.not-login {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  z-index: 500;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.23);

  .content {
    display: flex;
    border: 1px solid #ccc;
    justify-content: center;
    .item {
      padding: 5px;
      height: 50px;
      text-align: center;
      -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
      -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
      -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
      transition:width 300ms ease-in-out, height 300ms ease-in-out;
    }

    &:hover {
      height: 250px;
    }

    .github-access-hide {
      display: none;
    }
    .github-access-show {
      padding: 25px;
      display: block;
    }
  }
}

.login {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 500;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.23);

  .content {
    display: flex;
    border: 1px solid #ccc;
    justify-content: center;
    max-width: 200px;

    .user-info {
      padding: 10px;
      text-align: center;
      width: -webkit-fill-available;

      .avatar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;

        .user-logoff {
          display: none;
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }

        .logged-off{
          border-style: solid;
          border-radius: 30%;
          border-width: 1px;

          &:hover {
            cursor: pointer;
            text-shadow: 0 0 3px #cccccc;
          }
        }
      }

      &:hover .avatar .user-logoff {
        display: block;
      }


      .icons-user-status {

        display: none;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;

        .small-icon {
          width: 25px;
          cursor: pointer;
        }

        .mat-icon {
          cursor: pointer;
        }
      }

      &:hover .icons-user-status {
        display: flex;
      }

      .tags {
        display: none;
        padding: 5px;
      }

      &:hover .tags {
        display: block;
      }
    }

    .form-login {
      background-color: green($color: #000000);
    }
  }
}
