<ng-container *ngIf="user$ | async as user; else userLogin">
  <section class="login">
    <div class="content">
      <div class="user-info">
        <div class="avatar">
          <div>
            <img src="{{user?.avatar_url}}" alt="avatar from user">
          </div>
          <div>
            <p>{{user.firstName}}</p>
            <mat-icon class="logged-off" (click)="loggedOut()">arrow_forward</mat-icon>
          </div>
        </div>
        <div class="icons-user-status">
          <mat-icon (click)="findMe()">my_location</mat-icon>
          <mat-icon >assignment_ind</mat-icon>
          <mat-icon >my_location</mat-icon>
          <mat-icon >my_location</mat-icon>
        </div>
        <div class="tags">
          <gc-tags [user]="user"></gc-tags>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #userLogin>
  <section class="login">
    <div class="content">
      <div class="item" (mouseover)="showHideFormLogin=true" (mouseout)="showHideFormLogin=false">
        <p>Novo aqui?</p>
        <div [ngClass]="showHideLoginForm()">
          <a [href]="GITHUB_URL">
            <img src="assets/icons/GitHub-Mark-32px.png" alt="github_logo">
          </a>
          <p>Use sua conta do GitHub</p>
        </div>
      </div>
    </div>
  </section>
</ng-template>
