@import "~leaflet/dist/leaflet.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

html, body { height: 100%; }
body {
  color: black;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
 }

 body::-webkit-scrollbar {
   width: 0.25rem;
 }

 body::-webkit-scrollbar-track {
  background: #1e1e24;
 }

 body::-webkit-scrollbar-thumb {
   background: #6649b8;
 }

 .mat-body, .mat-body-1, .mat-typography {
   font-size: 16px;
 }

.mat-snack-bar-container.warning {
  color: 	#FF0000;
}

.mat-snack-bar-container.info {
  color: #0000CD;
}

.mat-snack-bar-container.msg {
  color: #708090;
}

.mat-snack-bar-container .flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
